.timer {
  display: flex;
  margin-top: 10px;
}
.field {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px;
  width: 100px;
  text-align: center;
}
.field:not(:last-child) {
  margin-right: 5px;
}
